 #elements {
    height: 200px;
    width: 100%;
    overflow: hidden;
    width: 80%;
    padding-bottom: 30px;
    float: right;
}

.elem {
    height: 150px;
    float: left;
    padding-right: 15px;
    cursor: pointer;
    padding-bottom: 10px;
    padding-left: 20px;
}

#row {
    position: relative;
    text-align: center;
    margin: auto;
    position: static;
}

#row p {
    font-size: 30px;
}
img{
    height: 150px;
    width: 230px;
}
